<div>
    <div class="project" align="center"style="margin-top: 25px;">
        <br>
        <input id="pj-name" type="text" value="Project Name Here" spellcheck="false"><br>
        <br>
        <canvas id="working-canvas" width="900" height="700"></canvas>
      </div>
      <div class="options">
        <br><br><br><br><br><br>
        <h2>Que quieres hacer?</h2><br>
        <div class="options-buttons">
          <button id="add-node" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white;">Añadir un nodo</button>
          <br><br>
          <button id="ur-btn" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white;" >Añadir relación indirecta</button>
          <button id="dr-btn" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white">Añadir relación directa</button>
          <br><br>
          <button id="ur-btn-cost" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white;" >Añadir relación indirecta con costo</button>
          <br><br>
          <button id="dr-btn-cost" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white">Añadir relación directa con costo</button>
        </div><br>
        <h2>Métodos Disponibles:</h2><br>
        <div class="result-buttons">
            <button id="dfs-btn" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white" >D F S</button>
            <button id="bfs-btn" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white">B F S</button>
            <button id="dijkstra-btn" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white">DJKSTRA</button>
            <button id="warshall-btn" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white">FLOYD WARSHALL</button>
          </div>
      </div>
</div>
