<div>
    <div class="project" align="center"style="margin-top: 25px;">
        <br>
        <input id="pj-name" type="text" value="Project Name Here" spellcheck="false"><br>
        <br>
        <canvas id="working-canvas" width="900" height="700"></canvas>
      </div>
      <div class="options">
        <br><br><br><br><br><br>
        <h2>What do you want to do?</h2><br>
        <form>
          <input type="checkbox" name="isActive" [(ngModel)]="isActive"><span style="margin: 20px;">Add a Node</span>
        </form><br>
        <div class="options-buttons">
          <button id="ur-btn" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white;" >Add Undirected Relation</button>
          <button id="dr-btn" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white">Add Directed Relation</button>
          <br><br>
          <button id="ur-btn-cost" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white;" >Add Undirected Relation With Cost</button>
          <br><br>
          <button id="dr-btn-cost" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white">Add Directed Relation With Cost</button>
        </div><br>
        <div class="result-buttons">
            <button id="dfs-btn" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white" >D F S</button>
            <button id="bfs-btn" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white">B F S</button>
            <button id="dijkstra-btn" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white">DJKSTRA</button>
        </div>
      </div>
</div>
