<div>
    <div class="project" align="center"style="margin-top: 25px;">
        <br>
        <input id="pj-name" type="text" value="Project Name Here" spellcheck="false"><br>
        <br>
        <canvas id="working-canvas" width="900" height="700"></canvas>
      </div>
      <div class="options">
        <br><br><br><br><br><br>
        <h2>What do you want to do?</h2>
        <form>
          <fieldset id="radio-options">
              <input id="nodes-radio" type="radio" value="Add a node" name="group"><label for="nodes-radio"> Add a Node</label> <br>
              <input id="ur-radio" type="radio" value="Undirected Relation" name="group"><label for="ur-radio"> Undirected Relation</label><br>
              <input id="dr-radio" type="radio" value="Directed Relation" name="group"><label for="dr-radio"> Directed Relation</label><br>
          </fieldset>
        </form><br>
        <div class="result-buttons">
            <button id="dfs-btn" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white" >D F S</button>
            <button id="bfs-btn" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white">B F S</button>
            <button id="djkstra-btn" type="button" class="btn btn-outline-primary btn-lg" style="color: white; border-color: white">DJKSTRA</button>
        </div>
      </div>
</div>
