
h1, h2{ 
  color: white;
  font-family: 'Rock Salt', cursive;
  font-size: 3em;
  padding: 25px;
  text-shadow: 0 0 250px #1976D2;
}

.title{
  background-color: #101E2C;
}

#new-project-btn{
  font-family: 'Rock Salt', cursive;
  padding: 25px;
  font-size: 2em; 
  text-shadow: 0 0 250px #1976D2;
}

.result-buttons{
  margin: 5em;
}